.main{
    background-color: #fff8f5;
}
.banner{
    padding-top: 330px;    
    padding-bottom: 70px; 
}
.banner__description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #272626;
}
.banner__title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.07em;
    color: #272626;
    max-width: 800px;
}
.banner__link{
    display: inline-block;
    border-radius: 37px;
    background: #d7537a;
    text-align: center;
    margin-top: 35px;
    padding: 23px 48px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    cursor: pointer;    
}
