.main{
    background-color: #fff8f5;
}
.banner{
    margin-top: 330px;
    background-color: #fff8f5;
    height: 350px;
}
.banner__title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #272626;
}
.banner__description{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 0.02em;
    color: #272626;
}
.banner__link{
    border-radius: 37px;
    width: 275px;
    height: 74px;
    background: #d7537a;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
}
.choose{
    font-family: var(--font-family);
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}